html {
  background-color: antiquewhite;
}

body {
  text-align: center;
  font-size: 18px;
}

h1 {
  font-size: 50px;
}

img {
  height: 80vw;
}

div {
  border: 2px solid burlywood;
  margin: 10px;
}

#introPic {

  display: flex;
  /* width: 500px;
  height: 500px; */
  max-width: 70vw;
  max-height: 70vw;
  justify-content: center;
  align-items: flex-start;

}

#bio {
  display: block;
align-self: auto;
flex-direction: column;

}
#bio > li {
  align-items:center;
  border: 1ex;

}

#pro {
  width: auto;
}
.mobilePic {
  max-width: 50vw;
  max-height: 50vw;
  border: solid black;
  padding: 2px;
  margin-top: 5px;
}
#top {
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: center;
}
#achievements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.title {
  background-color: lightgray;
}


@media (max-width: 500px) {
  .title {
    background-color: red;
  }
  .mobilePic {
    width: 80vw;
  }
}
